<!-- 
<div class="card">
  <div class="card-header">Bugs</div>
  <div class="card-body">
    If you found some problem or bug please send mail to: <b>freehackquest@gmail.com</b><br>
    Or create issues: <a href="https://github.com/freehackquest/fhq-server/issues">GitHub fhq-server</a>
    <br> 	Or create issues: <a href="https://github.com/freehackquest/frontend/issues">GitHub fhq-frontend</a><br>
  </div>
</div>
-->
<div class="chat-page" #fs fullscreen-able [class.is-active]="isActive">
  <div class="chat-page-header-row">
    <div class="chat-page-header-cell">
      <div class="chat-page-title" l10nTranslate>chatPage</div>
      <div class="chat-page-actions">
        <div class="chat-page-action-open-fullscreen" (click)="openFullscreen()" *ngIf="!isFullscreenEnabled"></div>
        <div class="chat-page-action-close-fullscreen" (click)="closeFullscreen()" *ngIf="isFullscreenEnabled"></div>
      </div>
    </div>
  </div>
  <div class="chat-page-content-row">
    <div class="chat-page-content-table">
      <div class="chat-page-content-table-row">
        <div class="chat-users-dialogs">
          Dialogs (will be later)
        </div>
        <div class="chat-users-messages">
          <div class="chat-users-messages-table">
            <div class="chat-users-messages-table-row-messages">
              <div class="chat-users-messages-table-cell-messages">
                <div class="scrollable" [style.height.px]="chatHeight" #chatMessages >
                  <div *ngFor="let d of dataList" class="chat-messages-table-row">
                    <table width="100%">
                      <tr>
                        <td>
                          <div class="chat-user-nick">{{ d.user }}:</div> {{ d.message }}
                        </td>
                        <td style="white-space: nowrap;">
                          <small>{{ d.dt }} (UTC)</small>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="chat-users-messages-table-row-send-message">
              <div class="chat-users-messages-table-cell-send-message" *ngIf="_fhq.isAuthorized">
                <div class="chat-user-nick">{{ userNick }}:</div>
                <input class="chat-send-message-input" placeholder="Your message..." (keyup.enter)="sendMessage()" #yourMessage />
                <div class="chat-send-message-btn" (click)="sendMessage()"> </div>
                <div class="chat-send-message-error" *ngIf="errorMessage != null">ERROR: {{ errorMessage }}</div>
              </div>
              <div class="chat-users-messages-table-cell-send-message" *ngIf="!_fhq.isAuthorized">
                <label l10nTranslate>pleaseAuthorize</label>
                <div class="btn btn-primary" (click)="openDialogSignIn()" l10nTranslate>signin</div>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-users-online">
          Users online (will be later)
        </div>
      </div>
    </div>
  </div> 
</div>



